header{
padding:30px;
}

body{
width:90;
margin:auto;
padding:30px;
background-color:whitesmoke;
}

footer{
font-size:2;
padding:30px;

}

*{
margin:0;
}

nav{
background-color:lightblue;
color:green;
width:30;
text-align:center;
display:inline-block;
text-decoration:none;
text-align:center
padding:10px;

}

h1{
padding:30px;
color:crimson;
text-align:center;
background-color:
}

.center{
text-align:center;
}

a:hover{
color:purple;
